.top_container{
    height: 100vh;
    width: 100%;
    background-color: var(--mainblack-color);
    
}
.top_content{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--forthary-color);
    
}
.top_text{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 32px;
}
.first_box{
    width: 100%;
    height: 20%;
    padding-top: 10px;
}
.second_box{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}
.left{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;


}
.br{
    line-height: 100px;
}
.right{
    width: 55%;
    height: 100%;
}

.up_textbox{
    color: var(--thirdary-color);
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 30px; */
    line-height: 1.6;
    
}
.underline {
     width: 110px;
     height: 1px;
    background-color: #2ecc71;
     margin: 0 auto;
}

.secondary_box{
    display: flex;
    align-items: center;
    padding-bottom: 40px;

}
.import_text{
    color: var(--forthary-color);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 80px;
    padding-right: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;

}
.import_img{
    padding: 80px;
    display: flex;
}
/* PROJECTS SECTION STYLING */

.project{
    padding: 20px;
    background-color: var(--projectsmain-color);
    
}
.project_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 400px;

}
.project_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
.underline1 {
     width: 110px;
     height: 1px;
    background-color: #000000;
     margin: 0 auto;
}
.project_menu{
    display: flex;
    flex-basis: 50%;
    padding-left: 40px;
    font-family: "Roboto", sans-serif;
}
.project_list{
    padding-left: 100px;

}
.project_list li{
    line-height: 300%;
}

.project_img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    gap: 8px;

}
.project_image{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.project_image_title{
    color: rgb(79, 79, 133);
    font-weight: 500;
    font-size: 17px;
}
/* Achievements section styling */

.achievements{
    background-color: var(--mainblack-color);
    padding-bottom: 100px;
}
.achievements_container{
    padding-left: 20px;
    color: var(--forthary-color);
}
.achievements_title{
    color: var(--thirdary-color);
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 400;
    padding-top: 65px;
}
.underline2 {
     width: 110px;
     height: 1px;
    background-color:  #2ecc71;
     margin: 0 auto;
}
.achi_style{
    font-weight: 500;
    font-size:32px;
}
.style{
    font-size: 16px;
    padding-left: 50px;
}
.achi_st_bottom{
    padding-bottom: 40px;
}
.achievements_menu{
    display: flex;
    padding-top: 165px;
    padding-left: 218px;
    font-family: "Poppins", sans-serif;
}

/* Contact section styling */

.contact{
    background-color: var(--projectsmain-color);
}
.contact_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    /* padding-bottom: 70px; */
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.underline3 {
     width: 110px;
     height: 1px;
    background-color: #000000;
     margin: 0 auto;
}
.contact_container{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact_content{
    background-color: var(--mainblack-color);
    color: var(--forthary-color);
    font-size: 16px;
    width: 38%;
    height: 500px;
    padding: 40px 15px ;


}

label{
    font-size: 18px;
    font-weight: 500;
}
.form_group{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 120px;
}
.form_group input,
.form_group textarea{
    padding-left: 2px;
    width: 60%;
    border: none;
    border-radius: 2px;

}
textarea{
    display: flex;
    align-items: center;
}

.llabel{
    padding-top: 20px;
}
button{
    background-color: aliceblue;
    margin-left: 195px;
    padding: 5px;
    border-radius: 3px;
    font-weight: 500;
}

