.hero{
    background-color:var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid #c9c9c9;
    
}

.hero_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_title{
    padding-left: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Roboto Mono", monospace;
}

.hero_nav{
    list-style: none;
    display: flex;
    gap: 40px;
}

.hero_link{
    font-size: 20px;
    font-weight: 600;
}
.hero_span{
padding-left: 10px;
font-size: 14px;
    
}

/* Footer section styling */

.footer{
    background-color: var(--thirdary-color);
}

.footer_social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    font-weight: 500;
}
.twenty_box{
    background-color: var(--mainblack-color);
    color: var(--thirdary-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
    font-weight: 500;
}
